# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore

# Visual Studio / Visual Studio Code
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Misc
*.swp
*.bak
*.tmp
*~
.DS_Store
Thumbs.db